In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\USER\Documents\Web_Scraping\book_data.csv")

In [3]:
data.head()

,Unnamed: 0,Title,Price_sold,Shipping_cost,Item_location,Item_seller,Link
0,0,Shop on eBay,20.00,0.0,NaN,NaN,https://ebay.com/itm/123456?hash=item28caef0a3...
1,1,Intelligent Investor: The Definitive Book on V...,10.34,9.13 shipping,United Kingdom,"worldofbooks08 (9,071,377) 99.1%",https://www.ebay.com/itm/304442680952?epid=872...
2,2,Power BI - Business Intelligence Clinic: Creat...,14.99,30.57 shipping,United States,chev1967_138 (563) 100%,https://www.ebay.com/itm/186043394348?epid=603...
3,3,Isaack Onyango Business Intelligence (Hardback),209.40,3.64 shipping,United Kingdom,"rarewaves-outlet (991,964) 98.8%",https://www.ebay.com/itm/305029496829?epid=230...
4,4,"Business Intelligence : Practices, Technologie...",49.49,26.75 shipping,United States,"vbbc2015 (13,262) 100%",https://www.ebay.com/itm/134303280275?epid=738...

#### Drop the first row and column

In [4]:
data = data.iloc[1:, 1:]

#### Separate the 'Item_seller' column into three columns; Seller_name, Seller_feedback and Seller_rating. Then drop the 'Item_seller' column.

In [5]:
data[['Seller_name','Seller_feedback', 'Seller_Rating%']] = data['Item_seller'].str.split(' ', expand=True)
data.drop(['Item_seller'], axis=1, inplace=True)

In [6]:
data.head(2)

,Title,Price_sold,Shipping_cost,Item_location,Link,Seller_name,Seller_feedback,Seller_Rating%
1,Intelligent Investor: The Definitive Book on V...,10.34,9.13 shipping,United Kingdom,https://www.ebay.com/itm/304442680952?epid=872...,worldofbooks08,"(9,071,377)",99.1%
2,Power BI - Business Intelligence Clinic: Creat...,14.99,30.57 shipping,United States,https://www.ebay.com/itm/186043394348?epid=603...,chev1967_138,(563),100%

#### Check for null values

In [7]:
data.isnull().sum()

Title              0
Price_sold         0
Shipping_cost      0
Item_location      3
Link               0
Seller_name        3
Seller_feedback    3
Seller_Rating%     3
dtype: int64

In [8]:
data = data.dropna()

In [9]:
data = data.copy()

#### Remove the brackets from the 'Seller_feedback' column and convert to appropriate datatype

In [10]:
data['Seller_feedback'] = data['Seller_feedback'].str.replace('[(),]', '', regex=True)

In [11]:
data['Seller_feedback'] =data['Seller_feedback'].astype(int)

In [12]:
data.head(2)

,Title,Price_sold,Shipping_cost,Item_location,Link,Seller_name,Seller_feedback,Seller_Rating%
1,Intelligent Investor: The Definitive Book on V...,10.34,9.13 shipping,United Kingdom,https://www.ebay.com/itm/304442680952?epid=872...,worldofbooks08,9071377,99.1%
2,Power BI - Business Intelligence Clinic: Creat...,14.99,30.57 shipping,United States,https://www.ebay.com/itm/186043394348?epid=603...,chev1967_138,563,100%

#### Remove the Percentage % sign from the 'Seller_Rating%' column and convert to appropriate datatype

In [13]:
data['Seller_Rating%'] = data['Seller_Rating%'].str.replace('%', '', regex=True)

In [14]:
data['Seller_Rating%'] = data['Seller_Rating%'].astype(float)

In [15]:
data.head(2)

,Title,Price_sold,Shipping_cost,Item_location,Link,Seller_name,Seller_feedback,Seller_Rating%
1,Intelligent Investor: The Definitive Book on V...,10.34,9.13 shipping,United Kingdom,https://www.ebay.com/itm/304442680952?epid=872...,worldofbooks08,9071377,99.1
2,Power BI - Business Intelligence Clinic: Creat...,14.99,30.57 shipping,United States,https://www.ebay.com/itm/186043394348?epid=603...,chev1967_138,563,100.0

#### Create new columns; shipping price and shipping type from 'Shipping_cost' column

In [16]:
data[['Shipping_price', 'Shipping_type']] = data['Shipping_cost'].str.extract('([\d\.]+)\s*([a-zA-Z\s]+)', expand=True)

#### Remove the column 'Shipping_cost'

In [17]:
data.drop(['Shipping_cost'], axis=1, inplace=True)

In [18]:
data.head(2)

,Title,Price_sold,Item_location,Link,Seller_name,Seller_feedback,Seller_Rating%,Shipping_price,Shipping_type
1,Intelligent Investor: The Definitive Book on V...,10.34,United Kingdom,https://www.ebay.com/itm/304442680952?epid=872...,worldofbooks08,9071377,99.1,9.13,shipping
2,Power BI - Business Intelligence Clinic: Creat...,14.99,United States,https://www.ebay.com/itm/186043394348?epid=603...,chev1967_138,563,100.0,30.57,shipping

In [19]:
data['Shipping_type'].unique()

array(['shipping', nan], dtype=object)

The 'shipping_type' column contains only one value.

####  Add "paid" in front of "shipping" in the Shipping_type column

In [20]:
data['Shipping_type'] = 'Paid ' + data['Shipping_type'].str.replace('shipping', 'shipping', regex=True)

#### Fill the NaN values in the Shipping_type column with 'Free shipping'

In [21]:
data['Shipping_type'] = data['Shipping_type'].fillna('Free shipping')

#### Fill the NaN values in the Shipping_price with 0

In [22]:
data['Shipping_price'] = data['Shipping_price'].fillna(0)

#### Convert data type of 'Shipping_price' to float

In [23]:
data['Shipping_price'] = data['Shipping_price'].astype(float)

In [24]:
data.head()

,Title,Price_sold,Item_location,Link,Seller_name,Seller_feedback,Seller_Rating%,Shipping_price,Shipping_type
1,Intelligent Investor: The Definitive Book on V...,10.34,United Kingdom,https://www.ebay.com/itm/304442680952?epid=872...,worldofbooks08,9071377,99.1,9.13,Paid shipping
2,Power BI - Business Intelligence Clinic: Creat...,14.99,United States,https://www.ebay.com/itm/186043394348?epid=603...,chev1967_138,563,100.0,30.57,Paid shipping
3,Isaack Onyango Business Intelligence (Hardback),209.40,United Kingdom,https://www.ebay.com/itm/305029496829?epid=230...,rarewaves-outlet,991964,98.8,3.64,Paid shipping
4,"Business Intelligence : Practices, Technologie...",49.49,United States,https://www.ebay.com/itm/134303280275?epid=738...,vbbc2015,13262,100.0,26.75,Paid shipping
5,Power BI f?r Dummies: Der schnelle Einstieg in...,10.74,United Kingdom,https://www.ebay.com/itm/155732377311?epid=100...,webuybooks,1866890,99.3,22.16,Paid shipping

#### Save the data

In [25]:
file_path = r"C:\Users\USER\Documents\Data_Cleaning\clean_data.csv"
data.to_csv(file_path, index=True)